@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-poppins);
  color: white;

  --navyCol: #434558;
  --mintCol: #00ffd5; 
  --oceanCol: #b7f2ff;
}

/*

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/*Dark mode?*/
/* @media (prefers-color-scheme: dark) { 
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dummy-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dummy-button:hover {
  background-color: darkblue;
}

.browseItem::before {
  content: "";
  width: 100%;
  height: 60%;
  bottom: 1;
  position: absolute;
  margin-top: 10%;
  z-index: -1;
  border-radius: 1cqw;
}

.browseItem.navy::before {
  background-color: var(--navyCol)
}
.browseItem.mint::before {
  background-color: var(--mintCol)
}
.browseItem.ocean::before {
  background-color: var(--oceanCol)
}
